 
#Ignoring PuzzleOS stuff
applications/accounts
applications/admin
applications/ajax_img
applications/bootstrap
applications/fa
applications/menus
applications/pg_control
applications/phpmailer
applications/search_box
applications/accounts
applications/tinymce
bootstrap/*
configs/*
public/*
storage/*
templates/*
*.log
puzzleos
puzzleworker
*.sample
*.md
!README.md
LICENSE/*

#Ignoring editor stuff
.codelite
*.phprj
*.workspace

.vscode
*.code-workspace

#KDE
.directory
